.content {
    justify-content: center;
}

.content .hello {
    font-size: 2.5em;
    font-weight: bold;
}

.content .hello, .content .desc {
    text-align: center;
}

.content .desc {
    line-height: 2;
}

.content .pages {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    justify-content: center;
}

.content .pages a {
    color: black;
    text-transform: uppercase;
    background-color: var(--dark-blue);
    padding: 20px 10px;
    margin: 8px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 250ms ease-in-out;
}

.content .pages a:hover, .content .pages a:focus-within {
    background-color: var(--med-blue);
}