body {
    background-color: LightCyan;
    border: 3px solid Black;
    border-radius: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
}

html {
    background: radial-gradient(circle, skyBlue, SkyBlue 50%, #2268d8 50%, SkyBlue);
    background-size: 8px 8px;
}

nav ul {
    list-style-type: none;
    background-color: #769fe0;
    border: 4px solid black;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    padding: 16px;
    text-align: center;
    position: relative;
}
nav ul li {
    display: inline;
    border-right: 2px solid black;
    padding-right: 8px;
    padding-left: 6px;
    font-size: 16px;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

input, button, textarea {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.link {
    text-align: center;
    text-decoration: underline;
    color: #582c8c;
    font-weight: normal;
    display: inline;
}
.link:hover {
    color: red;
}

.currentpage {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}
